/* .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    align-items: center;
  }

  .gallery-item {
    width: 100%;
  }
  
  .gallery-image {
    max-width: 100%;
    height: auto;
  } */